/* @media Rule*/
* {
	
}

@media ( max-width: 712px ) {
	footer { 
		position: relative;
		width: auto; 
	}

	body {
		width: auto; 
	}

}




button{
	display: inline-block;
	margin: 5px 0;
	padding: .5em .75em;
	border-radius: .25em;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: transparent;
	outline: 0;
	vertical-align: middle;
	font-family: inherit;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer
}

button:active {
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -moz-transform:scale(.95); /* Firefox */
    -ms-transform:scale(.95); /* IE 9 */
    -o-transform:scale(.95); /* Opera */
     transform:scale(.95);