/* @media Rule*/
* {
	box-sizing: border-box;
}



/*colors CSS */
button {
	max-height: 20px;
}
/*title CSS*/
header img {
	height: 65px;
	width: auto;
}

header .up-line {
	vertical-align: top;
}
header .down-line {
	vertical-align: bottom;
}
header .header-select{
	display: inline;

}
main .title-image img {
	height: auto;
	max-width: 700px;
	display: inline-block;
	width: 100%;
	
}

/*fixed CSS*/

body{
	width: 100%;
	height: auto;
	margin: 0px;
	text-align: center;
}

header{
	display: block;
	position: relative;
	width: 100%;
	min-width: 360px;
	background: #000000;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;

	/*line-height: 60px; */
	border: 2px solid #ffffff;
	border-right:  0px;
	border-left: 0px;
	border-top: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
}

header select {
	width: 80px;
}
header .table {
	height: 60px;
}
main{
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0px;
}
footer {
	background-color: #000000;
	height: 70px;
	width: 100%;
	color: #ffffff;
	position: relative;
	border: 2px solid #ffffff;
	border-right:  0px;
	border-left: 0px;
	border-bottom: 0px;
}

input[type=number] {
	outline: none;
	text-align: center;
	height: 70px;	
	width: 100%;
	min-width: 360px;
	display: table-cell;
	vertical-align: middle; 
	border: 2px solid #ffffff;
	border-right:  0px;
	border-left: 0px;
}
.out-number h1{
	 word-break:break-all;
}
.enter-number input[type=number]::-webkit-inner-spin-button, 
.enter-number input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.enter-number input::placeholder{
	font-size: 20px;
}
.number-infomation{
	display: block;
	text-align: center;
	position: relative;
	height: auto;
	width: 100%;
	max-width: 1000px;
	border: 2px solid #ffffff;
	margin-left: auto;
    margin-right: auto; 
}
.space{
	position: relative;
	width: 100%;
	min-height: 40px;
}
table {
	display: inline-block;
    border: 1px solid #ddd;
    padding: 8px;
}
@media ( max-width: 360px ) {
	main .title-image img { 
		width: 360px;
	}

	.number-infomation{
		border-right:  0px;
		border-left: 0px;
	}
}
